* {
    margin: 0;
    padding: 0;
}
.img{
    height: 100%;
}
.main{
    display: flex;
    justify-content: space-between;
    background-color: brown;
    padding: 0;
    
}
a {  display: flex;
    text-decoration: none;
   
    font-size: large;
}
.home{
    display: flex;
    gap: 30px;
    align-items: center;
   margin-right: 30px;
}